.nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo{
    padding-bottom: 5px;
    display: inline-flex;
    padding-right: 20px;
}

.links{
    display: inline-flex;
}

.none:hover, .active, .active:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

.subnone:hover, .subactive:hover {
    color: #011f56;
}

.subnone, .subactive{
    width: 100%;
}

.none, .active, .subactive, .subnone{
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;

}

.top div{
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
}


.navItem{
    background-color: #011f56;
    padding: 0px;
}

.navItem:hover{
    color: #011f56;
}
ul.dropdown-menu {
    padding: 0px 0px;
    color: #011f56;
}
