.general{
    background-color: white;
    box-shadow: 0 2px 4px 0 rgb(142 154 161 / 20%);
    margin: 20px;
    display: inline-flex;
    max-width: 250px;
    border: 0px;
    border-radius: 2px;
    text-align: center;
}

.name{
    text-transform: uppercase;
    margin: 5px;
}

.number{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin: 5px;
    border-radius: 30px;
    background-color: #4374d0;
    color: white;
    width: 60px;
    height: 60px;
    text-align: center;
    position: absolute;
    top: 5%;
    padding-top: 12px;
    box-shadow: 0 2px 4px 0 rgb(142 154 161 / 20%);
}

.role{
    text-transform: uppercase;
    padding: 5px;
    margin: 0px;
}