.select{
    background-color: #003597;
    color: white;
}

.select:hover{
    background-color: #003597dd;
    font-weight: bold;
    color: white !important;
}


.none:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.space{
    padding: 8px 40px !important;
}

.bold{
    font-weight: bold;
    padding: 8px 40px !important;
}

.table{
    text-align: center;
}